# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dokumenty\agh\pathfindingVisualizer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
